body {
  margin: 0;
  font-family:fantasy,"Courier New", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(241, 199, 19), rgb(228, 163, 169));
  color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor:pointer;
}
.center{
  display:flex;
  justify-content: center;
}
.text{
  text-shadow:2px 2px 2px black;
}
